<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>

    {% if not books %}
        <p>No books in library</p>
    {% else %}
    <ul>
        {% for book in books %}
            <li><a href="{{ url_for('delete', book_id=book.id, id='justTestingArgId') }}">Delete</a> {{ book.title }} - {{ book.author }} - <a href="{{ url_for('edit', book_id=book.id) }}">{{ book.rating }}</a>/10</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="/add">Add New Book</a>
  </body>
</html>
